_site/
.coverage
__pycache__/
*.pyc
.DS_Store
.quarto/
objects.json
/.quarto/

**/*.quarto_ipynb

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

