_site/
.coverage
__pycache__/
*.pyc
.DS_Store
.quarto/
objects.json
/.quarto/
src/latlonghelper/__version__.py

**/*.quarto_ipynb

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# R history
.Rhistory
